<article>
  <header>
      <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <!--<time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>-->
      <span>102 points by darwhy 3 hours ago | hide | 23 comments</span>
  </header>

  {{ with .Params.thumbnail }}<a href="{{ $.Permalink }}" class="thumb" title="{{ $.Title }}" style="background-image: url({{ $.Site.BaseURL }}{{ . }});"></a>{{ end }}
  <div class="summary">{{ .Summary }}</div>

</article>
