{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}
{{ define "main" }}
<section>
    <div class="column">
        {{ if not .IsHome }}
            <header class="page-header">
                <h1>{{ .Title }}</h1>
            </header>
        {{ end }}
        {{ range (.Paginate .Data.Pages).Pages }}
            {{ .Render "article-excerpt" }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
    <div class="column">
        {{ partial "sidebar.html" . }}
    </div>
</section>
{{ end }}
