{{ define "bodyClass"}}post{{ end }}

{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<article>
    <header>
        <h1><a href="{{.Params.linkurl}}">{{ .Title }}</a></h1>
        <!--<p>Posted by: Damian Wielgosik</p>-->
    </header>
    {{ if .Params.kids }}
        {{ range $index, $id := .Params.kids}}
            {{ partial "comment" (dict "ctx" $ "id" $id "parent" "") }}
        {{ end }}
    {{ else }}
        <p>There are no comments yet.</p>
    {{ end }}
</article>
{{ end }}
