body.post > main {
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;*/
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow:1;
}
