<h3>Latest Stories</h3>
<ul>
    {{ range first 3 .Site.Taxonomies.categories.story }}
    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
</ul>

<h3>Latest Ask HN</h3>
<ul>
    {{ range first 3 .Site.Taxonomies.categories.ask }}
    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
</ul>

<h3>Latest Show HN</h3>
<ul>
    {{ range first 3 .Site.Taxonomies.categories.show }}
    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
</ul>

<h3>Latest Jobs</h3>
<ul>
    {{ range first 3 .Site.Taxonomies.categories.job }}
    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
</ul>
