{{ define "title" }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ end }}
{{ define "main" }}
<section>
    <div class="column">
        {{ $term := .Data.Term }}
        {{ $taxonomy := index .Site.Taxonomies.categories $term }}
        {{ range (.Paginate $taxonomy.Pages.ByDate.Reverse).Pages }}
            {{ .Render "article-excerpt" }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
    <div class="column">
        {{ partial "sidebar.html" . }}
    </div>
</section>
{{ end }}
