{{ define "bodyClass"}}post{{ end }}

{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        <!--<p>Posted by: Damian Wielgosik</p>-->
    </header>

    {{ range $index, $id := .Params.kids}}
        {{ $d := (index $.Site.Data.post $id) }}
        <div>
            <div>
                {{ $d.text | safeHTML }}
            </div>
            <p>By {{$d.by}} at {{$time := time (int $d.time)}} {{ $time }}</p>
            <hr/>
        </div>
    {{ end }}
</article>
{{ end }}
