{{ define "bodyClass"}}post{{ end }}

{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<article>
    <header>
        <h1><a href="{{.Params.linkurl}}">{{ .Title }}</a></h1>
        <!--<p>Posted by: Damian Wielgosik</p>-->
    </header>

    {{ range $index, $id := .Params.kids}}
        {{ $d := (index $.Site.Data.post $id) }}
        <div class="comment">
            <p><a href="https://news.ycombinator.com/user?id={{$d.by}}" target="_blank">{{$d.by}}</a>  {{$time := time (int $d.time)}} <span class="timeago" data-date="{{ $time }}">{{ $time }}</span> [ - ]</p>
            <div class="body">
                {{ $d.text | safeHTML }}
            </div>
        </div>
    {{ end }}
</article>
{{ end }}
