{{ define "bodyClass"}}post{{ end }}

{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<article>
    <header>
        <h1>Justin Beaver: Ever since I learned HTML, my life has made a complete 180</h1>
        <p>Posted by: Damian Wielgosik</p>
    </header>
    <p>Justin Beaver confessed something that even his greatest fans would have never expected of the skilled musicians and lyricist. The young rock-and-roller admitted that since he typed his first title tag, his life became easier. It has been reported by those surrounding the Canadian that Beaver's private mentors, Ryan Loseling and Nicolas Crate, often walk around Los Angeles disputing what a great tool the HTML validator is.</p>
    <figure>
        <img src="cat.jpg" alt="Justin Beaver's cat is pleased">
        <figcaption>Justin Beaver's happy cat</figcaption>
    </figure>
    <p>Beaver has already created some websites and does not intend to stop there.
        <q>I will probably have a song about HTML on my next album,</q> - the artist added.
    </p>
</article>
{{ end }}
